body, html, .container-fluid, #tetris-board {
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

.fullheight {
  height: 100%;
}

.headerrow {
  height: 5%;
}

.gamerow {
  height: 90%;
}

div.score {
  font: 10px sans-serif;
  width: 218px;
  background-color: steelblue;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
}

label.error-hidden {
  display: none;
}

label.error-visible {
  display: block
}

div.box {
  display: inline-block;
}

