div.main-tetris-container {
  width: 100%;
}

div.score {
  font: 10px sans-serif;
  width: 218px;
  background-color: steelblue;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
}

label.error-hidden {
  display: none;
}

label.error-visible {
  display: block
}

div.box {
  display: inline-block;
}

