div.score {
  font: 10px sans-serif;
  width: 218px;
  background-color: steelblue;
  text-align: left;
  padding: 3px;
  margin: 1px;
  color: white;
}

label.error-hide {
  display: none;
}

label.error-show {
  display: block
}
