<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>D3 Tetris</title>
    <script type="text/javascript" src="static/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/tetris.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/socket.io.js"></script>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/tetris.css">
</head>
<body>
<div class="container-fluid" id="tetris-container">
    <div class="row headerrow">
        Welcome to D3 tetris!

        Directions:
        left arrow: left
        right arrow: right
        up arrow: rotate
        down arrow: gravity
        space: toggle pause/play
    </div>

    <div class="row gamerow">
        <div id="board-container1" class="col-md-5 fullheight">
            <div id="tetris-score1"></div>
            <svg id="tetris-board1">
            </svg>
        </div>
        <div class="col-md-2 fullheight">
            <div class="row">
                <svg id="tetris-nextpiece1">
                </svg>
            </div>
            <div class="row">
                <svg id="tetris-nextpiece2">
                </svg>
            </div>
        </div>
        <div id="board-container2" class="col-md-5 fullheight">
            <div id="tetris-score2"></div>
            <svg id="tetris-board2">
            </svg>
        </div>
    </div>
</div>

<div id="gameModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Game Settings</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label error-hidden" for="tetris-alias" id="error-alias">Enter a valid alias</label>
                        <input type="text" class="form-control-sm" id="tetris-alias" placeholder="Alias">
                    </div>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Single Player (preselected)
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Multi Player
                        </label>
                    </div>
                    <button type="button" id="tetris-play" class="btn btn-sm btn-primary" data-loading-text="looking for players...">Play!</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>